/* profilePageStyles.css */

/* Global styles */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  /* Page container */
  #profile-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  /* Profile header profile-accordion */
  .profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .profile-title {
    font-family: "Campton-SemiBold",sans-serif;
    font-size: 28px;
    color: #007bff;
  }
  
  /* Experience, Education, and Certification profile-accordions */
  .profile-accordion {
    margin-bottom: 20px;
  }
  
  .profile-accordion-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
  }
  
  .profile-accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  
  .profile-accordion-content.show {
    max-height: 1000px; /* Change this value based on your content */
  }
  
  /* Entry card in Experience, Education, and Certification profile-accordions */
  .profile-card {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .entry-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .entry-subtitle {
    font-size: 16px;
    color: #666;
  }
  
  /* Edit button */
  .edit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
  }
  
  .edit-button:hover {
    background-color: #0056b3;
  }
  